<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Tài khoản</h4>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
                  <br>
                  <%= f.label :password %> <i>(để trống nếu bạn không muốn thay đổi)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-50" %>
                  <br />
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-50" %>
                  <br>
                  <%= f.label :current_password %> <i>(Cần nhập password hiện tại)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control w-50" %>

                  <br/>
                  <%= render "devise/shared/error_messages", resource: resource %>
                <div class="actions">
                  <%= f.submit "Sửa", class: "btn btn-action-form" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
