<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Học viên</h4>
            <%= form_with(model: [:admin, @student], local: true, class: "form-group", id: "form_student" ) do |form| %>
              <%= form.label :name, "Tên(*)" %>
              <%= form.text_field :name, class: "form-control" %>

              <%= form.label :address, "Địa chỉ" %>
              <%= form.text_field :address, class: "form-control" %>

              <%= form.label :birth_day, "Ngày sinh" %>
              <%= form.date_field :birth_day, class: "form-control w-50" %>

              <%= form.label :course, "Khoá học" %>
              <br>
              <%= form.select :course_id, Course.all.activated.map{|r| [r.name, r.id] }, {}, { class: "form-control w-50" }%>

              <%= form.label :gradurated_date, "Ngày hoàn thành" %>
              <%= form.date_field :gradurated_date, class: "form-control w-50" %>

              <%= form.label :avatar, "Ảnh đại diện" %>
              <br>
              <%= form.file_field :avatar, id: :student_image %>
              <br>
              <br>
              <% if @student&.avatar&.url %>
                 <%= image_tag(@student.avatar.url, id: "preview", style: "height: 200px; with: 200px") %>
              <% else %>
                <%= image_tag("", id: "preview", style: "display: none; height: 200px; with: 200px") %>
              <% end %>
              <br>
              <br>
              <%= form.label :achievements, "Thành tích" %>
              <%= form.text_area :achievements, class: "form-control tinymce" %>
               <br>
               <%= form.submit form.object.new_record? ? "Thêm" : "Chỉnh sửa", class: "btn btn-action-form" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'student_load_image'%>
<script>
  document.addEventListener('turbolinks:load', function() {
    tinymce.remove(); // Rem  ove any existing instances of TinyMCE
    tinymce.init({
    selector: '.tinymce',
    height: 700,
    plugins: [
      'image', "lists", "table"
    ],
    toolbar: 'undo redo | formatselect fontsize| ' +
    ' bold italic | alignleft aligncenter ' +
    ' alignright alignjustify | bullist numlist outdent indent | ' +
    ' removeformat | help | forecolor backcolor image | ',
    font_size_formats:
    "8pt 9pt 10pt 11pt 12pt 13pt 14pt 15pt 16pt 18pt 24pt 30pt 36pt 48pt 60pt 72pt",
    table_sizing_mode: 'relative',
    table_column_resizing: 'resizetable',
    table_class_list: [
    {title: 'None', value: ''},
    {title: 'No Borders', value: 'table_no_borders'},
    {title: 'Red borders', value: 'table_red_borders'},
    {title: 'Blue borders', value: 'table_blue_borders'},
    {title: 'Green borders', value: 'table_green_borders'}
   ],
    image_title: true,
    automatic_uploads: true,
    images_upload_url: '/text_images',
    file_picker_types: 'image',

    document_base_url: '/',

    file_picker_callback: function(cb, value, meta) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');

      input.onchange = function() {
        var file = this.files[0];

        var id = 'blobid' + (new Date()).getTime();
        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
        var blobInfo = blobCache.create(id, file);
        blobCache.add(blobInfo);

        cb(blobInfo.blobUri(), { title: file.name });
      };

      input.click();
    }
    });
  });
</script>
<script>
  var flashMessages = {
    success: '<%= j flash[:success] %>',
    error: '<%= j flash[:error] %>',
    // Add other types of flash messages if needed
  };
</script>
<%= javascript_pack_tag 'show_toast'%>
<%= javascript_pack_tag 'validation/student' %>
