<main>
    <section class="banner">
        <div class="container">
          <%= image_tag asset_path('banner.jpg') %>
        </div>
    </section>
    <section class="category">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="category-item">
                        <figure>
                            <%= link_to(image_tag File.join(root_path, @about.show_random_image) ) %>
                            <figcaption>
                                <h3><%= link_to "Giới thiệu", about_path(About.first.slug) %></h3>
                                <div class="desc">Thông qua việc tuyển sinh khắp các tỉnh thành trong cả nước, Học viện góp phần thúc đẩy tình bóng đá, tinh thần thể thao cho các thế hệ trẻ...</div>
                                <%= link_to 'Xem thêm <i class="fa fa-angle-right"></i>'.html_safe, about_path(About.first.slug), class: 'readmore', target: '_self', title: 'Giới thiệu' %>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="category-item">
                        <figure>
                            <%= link_to(image_tag File.join(root_path, @post.show_random_image) ) %>
                            <figcaption>
                                <h3><%= link_to @post.title, category_post_path(@post.category.slug, @post.slug)%></h3>
                                <div class="desc"><%=@post.intro %></div>
                                <%= link_to 'Xem thêm <i class="fa fa-angle-right"></i>'.html_safe, category_post_path(@post.category.slug, @post.slug), class: 'readmore', target: '_self', title: 'Tin tức' %>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="category-item">
                        <figure>
                            <%= link_to(image_tag File.join(root_path, @album_image.image.url) ) %>
                            <figcaption>
                                <h3><%= link_to "Media", album_image_path()%></h3>
                                <div class="desc"> <%=@album_image.title %> </div>
                                <%= link_to 'Xem thêm <i class="fa fa-angle-right"></i>'.html_safe, album_image_path(), class: 'readmore', target: '_self'%>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
