<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="card-title">Liên hệ</h4>
                <%= form_tag(admin_contacts_path, method: "get") do %>
                  <div class="row">
                    <div class="col-3">
                      <%= select_tag :course_id, options_for_select(Course.all.map { |c| [c.name, c.id] }, params[:course_id]), include_blank: true, class: "form-control"  %>
                    </div>
                    <div class="col-3">
                      <%= date_field_tag :created_from, params[:created_from], class: "form-control"  %>
                    </div>

                    <div class="col-3">
                      <%= date_field_tag :created_to, params[:created_to],class: "form-control"  %>
                    </div>

                      <%= submit_tag "Lọc liên hệ", class: "btn btn-filter-item btn-icon-text" %>
                  </div>
                 <% end %>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Email</th>
                    <th scope="col">Điện thoại</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Khoá</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Nội dung</th>
                  </tr>
                </thead>
                <tbody>
                  <% @contacts.each do |c| %>
                    <tr>
                      <td><%= c.full_name%></td>
                      <td><%= c.address%></td>
                      <td><%= c.email %></td>
                      <td><%= c.phone%></td>
                      <td><%= c.title%></td>
                      <td><%= c.course.name%></td>
                      <td><%= c.created_at.strftime('%d/%m/%Y') %></td>
                      <td><%= c.content%></td>
                      <td>
                        <div>
                          <%= link_to '<i class="fas fa-eye"></i>'.html_safe,  admin_contact_path(c), class: "btn btn-show"%>
                          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, admin_contact_path(c),method: :delete, data: {confirm: 'Bạn có muốn xoá?' }, class: "btn btn-delete" %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @contacts, outer_window: 2 %>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var flashMessages = {
    success: '<%= j flash[:success] %>',
    error: '<%= j flash[:error] %>',
    // Add other types of flash messages if needed
  };
</script>
<%= javascript_pack_tag 'show_toast'%>
