<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
              <h4 class="card-title">Bài viết</h4>
                <%= form_tag(admin_posts_path, method: "get") do %>
                  <div class="row">
                    <div class="col-4">
                      <%= date_field_tag :created_from, params[:created_from], class: "form-control"  %>
                    </div>

                    <div class="col-4">
                      <%= date_field_tag :created_to, params[:created_to],class: "form-control" %>
                    </div>

                    <div class="col-4">
                      <%= select_tag :category_id, options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category_id]), include_blank: "Thể loại", class: "form-control" %>
                    </div>
                  </div>
                  <div class="row" style="padding: 10px 0;">
                     <div class="col-4">
                      <%= select_tag :user_id, options_for_select(User.all.map { |c| [c.name, c.id] }, params[:user_id]), include_blank: "Người tạo", class: "form-control"  %>
                    </div>
                    <div class="col-4">
                      <%= select_tag :hide_status, options_for_select([['Không', false], ['Có', true]], params[:hide_status]), include_blank: "Ẩn bài viết", class: "form-control" %>
                    </div>
                    <div class="col-4">
                      <%= submit_tag "Lọc bài viết", class: "btn btn-filter-item btn-icon-text" %>
                    </div>
                  </div>
                </div>
                <% end %>

                <div class="col-3 btn-group-form">
                  <%= link_to "+ Thêm bài viết ",  new_admin_post_path(), class: "btn btn-new-item btn-icon-text"%>
                </div>
              </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Đoạn giới thiệu</th>
                    <th scope="col">Ảnh giới thiệu</th>
                    <th scope="col">Thể loại tin</th>
                    <th scope="col">Người tạo</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Ẩn</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <% @posts.each do |c| %>
                    <tr>
                      <td><%= c.title %></td>
                      <td><%= c.intro %></td>
                      <% if c.image_intro.present?%>
                        <td><%= image_tag c.image_intro.thumb.url %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                      <td><%= c.category.name%></td>
                      <td><%= c.user.name %></td>
                      <td><%= c.created_at.strftime('%d/%m/%Y') %></td>
                      <td>
                          <% if c.hide_status %>
                            Có
                          <% else %>
                            Không
                          <% end %>
                      </td>
                      <td>
                        <div>
                          <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe,  edit_admin_post_path(c), class: "btn btn-edit" %>
                          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, admin_post_path(c),method: :delete, data: {confirm: 'Bạn có muốn xoá?' }, class: "btn btn-delete" %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @posts, outer_window: 2 %>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var flashMessages = {
    success: '<%= j flash[:success] %>',
    error: '<%= j flash[:error] %>',
    // Add other types of flash messages if needed
  };
</script>
<%= javascript_pack_tag 'show_toast'%>
