<main class="course-detail">
  <section class="site-breadcrumb">
    <div class="container">
      <h2 class="breadcrumb-title"><%= @course.name %></h2>
      <ul class="breadcrumb-menu">
        <li><a href="/">Trang chủ</a></li>
        <li><%= link_to 'Khóa học', course_path(Course.first.slug)%></li>
        <li class="active"><%= @course.name %></li>
      </ul>
    </div>
  </section>
  <section class="section-intro">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="box-content">
                      <p class="tag-line">welcome</p>
                      <h2 class="title"> Bóng đá <br /> Mỹ Tho</h2>
                      <p class="text-desc">
                        <%= @course.target%>
                      </p>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="box-image">
                    <%= image_tag asset_path('image-intro-course.jpg') %>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="section-content">
      <div class="container">
          <div class="box-content">
              <%= raw @course.course_details %>
          </div>
      </div>
  </section>
  <section class="section-coach">
      <div class="container">
          <div class="box-heading">
              <h2 class="title">
                  <span>Đội ngũ</span><br /> huấn luyện
              </h2>
          </div>
          <div class="slider-coach owl-carousel owl-theme">
            <% @coaches.each do |c|%>
              <div class="coach-item">
                <%= link_to coach_path(c.id) do%>
                  <div class="box-thumbnail">
                      <%= image_tag(c.avatar.url)%>
                      <div class="overplay">
                      </div>
                  </div>
                  <div class="box-content">
                      <h3 class="coach-name"><%= c.name %></h3>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      </div>
  </section>
  <section class="section-student">
      <div class="container">
          <div class="box-heading">
              <h2 class="title">
                  Học viên
              </h2>
          </div>
          <div class="slider-student owl-carousel owl-theme">
              <% @students.each do |s|%>
                <div class="student-item">
                    <%= link_to student_path(s.id) do %>
                        <div class="box-thumbnail">
                            <%= image_tag(s.avatar.url)%>
                        </div>
                        <div class="box-content">
                            <h3 class="student-name"><%= s.name %></h3>
                        </div>
                    <% end %>
                </div>
              <% end %>
          </div>
      </div>
  </section>
  <section class="section-register" id="form-submit-register">
      <div class="form-content">
          <div class="container">
              <div class="form-register">
                  <h3 class="form-title">
                      ĐĂNG KÝ LỚP HỌC THỬ
                      MIỄN PHÍ NGAY BÂY GIỜ!
                  </h3>
                  <%= form_with(model: @contact, url: contact_path, local: true, id: "form_contact" ) do |form| %>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <%= form.text_field :full_name, class: "form-control", placeholder: "Họ tên (*)"%>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="form-group">
                                     <%= form.select :course_id, Course.all.activated.map{|r| [r.name, r.id] }, {}, { class: "form-control" }%>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <%= form.email_field :email, class: "form-control", require: true , placeholder: "Email (*)"%>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <%= form.phone_field :phone, class: "form-control", placeholder: "Điện thoại"%>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                                    <%= form.text_field :address, class: "form-control", placeholder: "Địa chỉ" %>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group">
                                    <%= form.text_field :title, class: "form-control", placeholder: "Tiêu đề" %>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group">
                                      <%= form.text_area :content, class: "form-control", placeholder: "Nội dung (*)", rows: 5 %>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group">
                                      <%= form.submit 'Gửi', :class => 'btn-submit' %>
                                  </div>
                              </div>
                          </div>
                      <% end %>
              </div>
          </div>
      </div>
  </section>
  <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="contact_course" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 1rem; border: none">
        <h5 class="modal-title" id="exampleModalLabel" style="color: green">Gửi thông tin liên hệ thành công</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 1rem; border: none">
        Cảm ơn bạn đã gửi thông tin cho chúng tôi. Chúng tôi sẽ sớm liên hệ với bạn
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
</main>
<script>
  $(document).ready(function(){
    <% if flash[:contact] %>
        $('#contact_course').modal('show');
    <% end %>
  })
</script>
<script>
  var flashMessages = {
    success: '<%= j flash[:success] %>',
    error: '<%= j flash[:error] %>',
    // Add other types of flash messages if needed
  };
</script>
<%= javascript_pack_tag 'show_toast'%>
<%= javascript_pack_tag 'validation/contact' %>
