<main>
  <section class="site-breadcrumb">
    <div class="container">
        <h2 class="breadcrumb-title">GIỚI THIỆU</h2>
        <ul class="breadcrumb">
          <li><%= link_to 'Trang chủ', '/'%></li>
          <li><%= link_to 'Khóa học', course_path(Course.first.slug)%></li>
          <li class="breadcrumb-active"><%= @course.name %></li>
        </ul>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="about">
        <nav>
          <ul>
            <% @courses.each do |c|%>
              <li><%= link_to c.name, course_path(c.slug), class: (c.slug == params["slug"] ? "about-active" : "")%></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="section-blog py-120" style="padding-top: 10px !important">
    <div class="container">
        <div class="row">
        <% @students.each do |s| %>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-item-img">
                          <%= image_tag s.avatar.url, class: "card-img-top" %>
                    </div>
                    <div class="blog-item-info">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Tên: <%= s.name %></p>
                        <p class="card-text">Địa chỉ: <%= s.address %></p>
                        <p class="card-text">Ngày sinh: <%= s.birth_day.strftime('%d/%m/%Y') %></p>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
    </section>
  <section>
    <div class="container" style="margin-top: 20px">
      <%= paginate @students, outer_window: 2 %>
    </div>
  </section>
</main>
