<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-9">
                <h4 class="card-title">Khóa học</h4>
              </div>
              <div class="col-3 text-right">
                <%= link_to "+ Thêm khóa học ",  new_admin_course_path(), class: "btn btn-new-item btn-icon-text"%>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Tên khoá học</th>
                    <th scope="col">Liên kết</th>
                    <th scope="col">Khai giảng</th>
                    <th scope="col">Kết thúc</th>
                    <th scope="col">Lứa tuổi</th>
                    <th scope="col">Mục tiêu</th>
                    <th scope="col">Ẩn</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <% @courses.each do |c| %>
                    <tr>
                      <td><%= c.name%></td>
                      <td><%= c.slug%></td>
                      <td>
                        <% if c.opened_date.present?%>
                          <%= c.opened_date.strftime('%d/%m/%Y')%>
                        <% end %></td>
                      <td>
                        <% if c.closed_date.present?%>
                          <%= c.closed_date.strftime('%d/%m/%Y')%>
                        <% end %>
                      </td>
                      <td><%= c.course_age%></td>
                      <td><%= c.target%></td>
                      <td>
                          <% if c.hide_status %>
                            Có
                          <% else %>
                            Không
                          <% end %>
                      </td>
                      <td>
                        <div>
                          <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe,  edit_admin_course_path(c), class: "btn btn-edit"%>
                          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, admin_course_path(c),method: :delete, data: {confirm: 'Bạn có muốn xoá?' }, class: "btn btn-delete" %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @courses, outer_window: 2 %>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var flashMessages = {
    success: '<%= j flash[:success] %>',
    error: '<%= j flash[:error] %>',
    // Add other types of flash messages if needed
  };
</script>
<%= javascript_pack_tag 'show_toast'%>
