<header id="site-header" class="site-header">
        <div class="header-main">
            <div class="container">
                <div class="main-navigation">
                    <div class="box-wrapper">
                        <a href="#" class="site-logo-mb">
                            TN
                        </a>
                        <button class="toggle-menu">
                            <i class="fa-regular fa-bars"></i>
                        </button>
                    </div>
                    <a href="#" class="site-logo-desk">
                        TN
                    </a>
                    <ul id="top-menu">
                        <li>
                          <%= link_to 'Trang chủ', '/' %>
                        </li>
                        <li>
                            <%= link_to 'Giới thiệu', about_path(About.first.slug) %>
                        </li>
                        <li>
                          <a href="#">
                                Khoá học
                            </a>
                            <span class="btn-arrow">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                            <ul class="sub-menu">
                              <% Course.all.activated.each do |c| %>
                                <li>
                                  <%= link_to c.name, course_path(c.slug) %>
                                </li>
                              <% end %>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Thư viện
                            </a>
                            <span class="btn-arrow">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                            <ul class="sub-menu">
                              <% Category.all.each do |c| %>
                                <li>
                                  <%= link_to c.name, category_path(c.slug) %>
                                </li>
                              <% end %>
                            </ul>
                        </li>
                        <li>
                            <%= link_to 'Liên hệ', contact_path %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
