<!DOCTYPE html>
<html>
  <head>
    <title>Football</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/i7wiiq5bb7ywauey6g43m24sj51970ojs60smtg8p2tlpvjl/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://unpkg.com/slugify"></script>
    <!-- Add Toastify.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Add Toastify.js JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </head>

  <body class="admin-dashboard">
    <div class="container-scroller">
      <%= render "layouts/nav" %>
      <div class="container-fluid page-body-wrapper">
        <%= render "layouts/sidebar" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
