<!DOCTYPE html>
<html>
  <head>
    <%# <title>Football</title> %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <%# <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css"> %>
    <script src="https://cdn.tiny.cloud/1/i7wiiq5bb7ywauey6g43m24sj51970ojs60smtg8p2tlpvjl/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
